<nav class="navbar sm-nav-top-menu">
  <div class="row">
    <a class="col-3" [routerLink]="['/']">SoccerTeamManagement</a>
    <ul class="navbar-nav col-4 offset-5">
      <li class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['/counter']">Counter</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['/players']">Players</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
      </li>
    </ul>
    <!--<sm-api-auth-login-menu></sm-api-auth-login-menu>-->
  </div>
</nav>
