.sm-nav-top-menu {
  width: 100%;

  .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  a {
    margin: 0;
    padding: 0;
  }

  ul, li {
    display: inline-block;
    padding-left: 20px;
    float: right;
  }

  &.hidden {
    display: none;
  }
}
