<mat-accordion [formGroup]="address" class="container">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Address</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <section class="form-group">
        <mat-label>Address Line 1:</mat-label>
        <input matInput formControlName="addressLine1" class="form-control" />
        <mat-error *ngIf="form.controls.address.get('addressLine1').hasError('required') && (form.controls.address.get('addressLine1').dirty || form.controls.address.get('addressLine1').touched)"><strong>Input required  </strong></mat-error>
        <mat-error *ngIf="form.controls.address.get('addressLine1').hasError('maxlength') && (form.controls.address.get('addressLine1').dirty || form.controls.address.get('addressLine1').touched)"><strong>Input must be less than 100 characters  </strong></mat-error>
      </section>
    </div>
    <div class="row">
      <section class="form-group">
        <mat-label>Address Line 2:</mat-label>
        <input matInput formControlName="addressLine2" class="form-control" />
        <mat-error *ngIf="form.controls.address.get('addressLine2').hasError('maxlength') && (form.controls.address.get('addressLine2').dirty || form.controls.address.get('addressLine2').touched)"><strong>Input must be less than 100 characters  </strong></mat-error>
      </section>
    </div>
    <div class="row">
      <section class="form-group col">
        <mat-label>Country:</mat-label>
        <mat-select formControlName="countryId" (selectionChange)="onCountryChange($event.value)" class="form-control">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.text}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.address.get('countryId').hasError('required') && (form.controls.address.get('countryId').dirty || form.controls.address.get('countryId').touched)"><strong>Input required</strong></mat-error>
      </section>
      <!--The only states loaded in the database are those belonging to the US (countryid 237)-->
      <section class="form-group col" *ngIf="form.controls.address.get('countryId').value === 237">
        <mat-label>State:</mat-label>
        <mat-select formControlName="stateId" class="form-control">
          <mat-option *ngFor="let state of states" [value]="state.id">
            {{state.text}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.address.get('stateId').hasError('required')"><strong>Input required</strong></mat-error>
        <!--&& (form.controls.address.get('stateId').dirty || form.controls.address.get('stateId').touched)-->
      </section>
    </div>
    <div class="row">
      <section class="form-group col">
        <mat-label>City:</mat-label>
        <input matInput formControlName="city" class="form-control" />
        <mat-error *ngIf="form.controls.address.get('city').hasError('required') && (form.controls.address.get('city').dirty || form.controls.address.get('city').touched)"><strong>Input required  </strong></mat-error>
        <mat-error *ngIf="form.controls.address.get('city').hasError('maxlength') && (form.controls.address.get('city').dirty || form.controls.address.get('city').touched)"><strong>Input must be less than 100 characters  </strong></mat-error>
      </section>

      <section class="form-group col">
        <mat-label>Zip Code:</mat-label>
        <input matInput formControlName="zipCode" class="form-control" />
        <mat-error *ngIf="form.controls.address.get('zipCode').hasError('pattern') && (form.controls.address.get('zipCode').dirty || form.controls.address.get('zipCode').touched)">
          <strong>Input must be a positive whole number less than 10 digits long  </strong>
        </mat-error>
      </section>
    </div>
  </mat-expansion-panel>
</mat-accordion>
