<div class="player-details">
  <h1>{{title}}</h1>

  <p *ngIf="this.id && !player"><em>Loading...</em></p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="from-group">
      <mat-slide-toggle formControlName="readonly" (change)="readonlySlideChange($event)">Readonly</mat-slide-toggle>
    </section>

    <section class="form-group">
      <mat-label>First Name:</mat-label>
      <input matInput formControlName="firstName" [errorStateMatcher]="errorStateMatcher" class="form-control" />
      <mat-error *ngIf="form.controls['firstName'].hasError('required')"><strong>Input required</strong></mat-error>
    </section>

    <section class="form-group">
      <mat-label>Last Name:</mat-label>
      <input matInput formControlName="lastName" [errorStateMatcher]="errorStateMatcher" class="form-control" />
      <mat-error *ngIf="form.controls['lastName'].hasError('required')"><strong>Input required</strong></mat-error>
    </section>

    <section class="form-group">
      <mat-label>Nickname:</mat-label>
      <input matInput formControlName="nickName" [errorStateMatcher]="errorStateMatcher" class="form-control" />
      <mat-error *ngIf="form.controls['nickName'].hasError('required')"><strong>Input required</strong></mat-error>
    </section>

    <section class="form-group">
      <mat-label>Is Player a Adult?</mat-label><br />
      <mat-checkbox formControlName="isAdult"></mat-checkbox>
    </section>

    <section class="form-group">
      <mat-label>Height:</mat-label>
      <input matInput formControlName="height" [errorStateMatcher]="errorStateMatcher" class="form-control" />
      <mat-error *ngIf="form.controls['height'].hasError('required')"><strong>Input required  </strong></mat-error>
      <mat-error *ngIf="form.controls['height'].hasError('min')"><strong>Value must be between 0 - 999  </strong></mat-error>
      <mat-error *ngIf="form.controls['height'].hasError('max')"><strong>Value must be between 0 - 999  </strong></mat-error>
      <mat-error *ngIf="form.controls['height'].hasError('pattern') && (form.controls['height'].dirty || form.controls['height'].touched)">
        <strong>Input must be a positive whole number  </strong>
      </mat-error>
    </section>

    <section class="form-group">
      <mat-label>Weight:</mat-label>
      <input matInput formControlName="weight" [errorStateMatcher]="errorStateMatcher" class="form-control" />
      <mat-error *ngIf="form.controls['weight'].hasError('required')"><strong>Input required  </strong></mat-error>
      <mat-error *ngIf="form.controls['weight'].hasError('min')"><strong>Value must be between 0 - 9999  </strong></mat-error>
      <mat-error *ngIf="form.controls['weight'].hasError('max')"><strong>Value must be between 0 - 9999  </strong></mat-error>
      <mat-error *ngIf="form.controls['weight'].hasError('pattern') && (form.controls['weight'].dirty || form.controls['weight'].touched)">
        <strong>Input must be a positive whole number  </strong>
      </mat-error>
    </section>

    <section class="form-group">
      <mat-label>Strong Foot:</mat-label>
      <mat-button-toggle-group formControlName="foot">
        <mat-button-toggle [value]="1">Left</mat-button-toggle>
        <mat-button-toggle [value]="0">Right</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="form-group">
      <mat-label>Nationality:</mat-label>
      <mat-select formControlName="nationId" [errorStateMatcher]="errorStateMatcher" class="form-control">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.text}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['nationId'].hasError('required')"><strong>Input required</strong></mat-error>
    </section>

    <section class="form-group commands">
      <button mat-raised-button *ngIf="id" type="submit" [disabled]="form.invalid || form.controls['weight'].disabled" color="warn">Update</button>
      <button mat-raised-button type="button" [routerLink]="['/players']">Cancel</button>
    </section>
  </form>
</div>
